<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../assets/css/common/common.min.css">

    <title>Criativa Artes BH</title>
</head>

<body>

    {% include "../templates/partials/header.html" %}
    <main>

    </main>

    {% include "../templates/partials/footer.html" %}
</body>

<script src="../assets/js/common-min.js"></script>

</html>