<section class="content-header">
    <div class="section-header">
        <div class="section-header-logo">
            <img class="section-header-logo-image" width="50px" src="../../assets/img/home/logo.svg" alt="Logo do site">
        </div>
        <div class="section-header-menu-itens">
            <ul>
                <li>
                    <a href="">HOME</a>
                </li>
                <li>
                    <a href="">LEMBRANCINHAS</a>
                </li>
                <li>
                    <a href="">DECORAÇÃO</a>
                </li>
                <li>
                    <a href="">ADESIVOS</a>
                </li>
                <li>
                    <a href="">ÁLBUNS</a>
                </li>
            </ul>
        </div>
        <div class="section-header-search">
            <input class="section-header-search-input" type="text" name="search" />
        </div>
        <div class="section-header-icons">
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/localizacao.svg" alt="Imagem da localizacao">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/telefone.svg" alt="Imagem do Telefone">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/instagram.svg" alt="Logo do site">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/e-mail.svg" alt="Logo do site">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/face.svg" alt="Logo do site">
            </a>
        </div>
        
    </div>
    <div class="section-header-border">

    </div>
</section>
