<section class="content-header">
    <div class="section-header">
        <div class="section-header-logo">
            <img class="section-header-logo-image" width="50px" src="../../assets/img/home/logo.svg" alt="Logo do site">
        </div>
        <div class="section-header-menu-itens">
            <ul>
                <li>
                    <a href="">HOME</a>
                </li>
                <li>
                    <a href="">LEMBRANCINHAS</a>
                </li>
                <li>
                    <a href="">DECORAÇÃO</a>
                </li>
                <li>
                    <a href="">ADESIVOS</a>
                </li>
                <li>
                    <a href="">ÁLBUNS</a>
                </li>
            </ul>
        </div>
        <div class="section-header-search">
            <input class="section-header-search-input" type="text" name="search" />
        </div>
        <div class="section-header-icons">
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/localizacao.svg" alt="Imagem da localizacao">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/telefone.svg" alt="Imagem do Telefone">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/instagram.svg" alt="Logo do site">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/e-mail.svg" alt="Logo do site">
            </a>
            <a href="#">
                <img class="" width="30px" src="../../assets/img/home/face.svg" alt="Logo do site">
            </a>
        </div>
        
    </div>
    <div class="section-header-border">

    </div>
</section>

<section class="header header-mobile header-fixed">

</section>

<nav role="navigation" class="nav-hamburguer">
    <div class="menuToggle">
        <!--
          A fake / hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
        <input type="checkbox" class="menuToggle-element" />

        <!--
          Some spans to act as a hamburger.
          
          They are acting like a real hamburger,
          not that McDonalds stuff.
          -->
        <span></span>
        <span></span>
        <span></span>

        <!--
          Too bad the menu has to be inside of the button
          but hey, it's pure CSS magic.
          -->
        <ul class="menu">
            <a href="index.html">
                <li class="menu-item">Home</li>
            </a>
            <a href="lembrancinhas.html">
                <li class="menu-item">LEMBRANCINHAS</li>
            </a>
            <a href="decoracao.html">
                <li class="menu-item">DECORAÇÃO</li>
            </a>
            <a href="adesivos.html">
                <li class="menu-item">ADESIVOS</li>
            </a>
            <a href="albuns.html">
                <li class="menu-item">ÁLBUNS</li>
            </a>
        </ul>
    </div>
</nav>
