<section class="section-header">
    <div class="section-header-logo">
        
    </div>
    <div class="section-header-menu-itens">
        <ul>
            <li>
                <a href="">HOME</a>
            </li>
            <li>
                <a href="">LEMBRANCINHAS</a>
            </li>
            <li>
                <a href="">DECORAÇÃO</a>
            </li>
            <li>
                <a href="">ADESIVOS</a>
            </li>
            <li>
                <a href="">ÁLBUNS</a>
            </li>
        </ul>
    </div>
    <div class="section-header-search">
        <input type="text" />
    </div>
    <div class="section-header-icons">

    </div>

</section>
<section class="section-header-border">

</section>