@import "font-colors.scss";
body {
  margin: 0;
  font-family: "Nexa_Free_Light";
  font-size: 16px;
}
.content-header {
  position: sticky;
  top: 0;
  z-index: 2;
  @media screen and(max-width:980px){
    display: none;
  }
}


.d-none {
  display: none;
}


.d-block {
  display: block;
}

.color-pink {
  color: $pink;
}

.color-blue {
  color: $blue;
}

.color-yellow {
  color: $yellow;
}

.color-green {
  color: $green;
}

.bg-pink {
  background-color: $bg-pink;
}

.bg-blue {
  background-color: $bg-blue;
}

.bg-yellow {
  background-color: $bg-yellow;
}

.bg-green {
  background-color: $bg-green;
}

.content-center{
  margin-right: auto;
  margin-left: auto;
}
