//Colors
$pink: #ff7393;
$blue: #00bfeb;
$yellow: #d0aa0f;
$green: #51bb7c;

//Backgrounds Colors
$bg-pink: rgba(255,115,147,0.7);
$bg-blue: rgba(0,191,235,0.7);
$bg-yellow: rgba(208,170,15,0.7);
$bg-green: rgba(81,187,124,0.7);

@font-face {
  font-family: "Nexa_Free_Light";
  src: url("../../fonts/Nexa_Free_Light-webfont.woff2") format("woff2"),
    url("../../fonts/fonts/Nexa_Free_Light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Nexa_Free_Bold";
  src: url("../../fonts/Nexa_Free_Bold-webfont.woff2") format("woff2"),
    url("../../fonts/fonts/Nexa_Free_Bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}